@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

#logo{
    display: inline-block;
    position: absolute;
    left: 18px;
    top: 18px;
  }
  
#logo img{
    display: block;
    margin: auto;
    width: 55px;
  }


body{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DBDFFD;
    font-family: "Roboto", sans-serif;
    height: 100vh;
    padding: 20px;
    overflow: hidden;
}

.container{
    background-color: rgb(250, 249, 249);
    padding: 50px 20px;
    width: 800px;
    text-align: center;
    border-radius: 10px;
    max-width: 100%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
}

h3{
    opacity: 0.5;
    margin: 0;
    letter-spacing: 2px;
}

.joke{
    font-size: 25px;
    letter-spacing: 0.4px;
    line-height: 40px;
    margin: 50px auto;
    max-width: 600px;
    color: #181a2d;
}

.btn{
    background-color: #646FD4;
    color: white;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
    padding: 14px 40px;
    font-size: 16px;
    cursor: pointer;
  }

.btn:hover{
    background-color: #5861b4;
    transform: scale(1);
}
  
  
.btn:active {
    transform: scale(0.98);
}
  
  
.btn:focus {
    outline: 0;
  
}